# Dependencies
node_modules

# Build outputs
dist
build
coverage

# Environment files
.env
.env.*

# Lock files
pnpm-lock.yaml
package-lock.json
yarn.lock

# Logs
*.log

# OS / Editor files
.DS_Store
.vscode
.idea
